<%- include('partials/header'); -%>
    <h2>About</h1>
        <main>
            <p>
                <%= aboutContent %>
            </p>

        </main>
      
</body>

<%- include('partials/footer'); -%>