<%- include('partials/header'); -%>
    <h2>Contact</h1>
        <main>
            <p>
                <%= ContactContent %>
            </p>

        </main>
      
</body>

<%- include('partials/footer'); -%>