<%- include('partials/header'); -%>
    <h2> <%= post.comTile %></h2>
        <main>
            <p>
                <%= post.comPost%>

        </main>

        </body>

        <%- include('partials/footer'); -%>